# 04 â€“ Results

Purpose:
- final plots
- tables
- interpretation

In [120]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from pathlib import Path
import re

In [121]:


from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [122]:


path = Path("../content/drive/MyDrive/Data_Mastery/data/Crop_Statistics_Results_Paper.csv")

df_RP = pd.read_csv(
    path,
    sep=";",          # EU Excel
    header=0,      # header was lost
    dtype=str,
    encoding="utf-8"
)

# clean line breaks in first column
df_RP.iloc[:, 0] = (
    df_RP.iloc[:, 0]
        .str.replace("\n", " ", regex=False)
        .str.strip()
)



print(df_RP.head(10))

                                             stratum crop    beans  cabbage  \
0  Gaza irrigated irrigatedalluvial Gaza low-inte...  NaN  0,00111  0,00000
1                                           alluvial  NaN  0,01991  0,00000
2                                        coastalpedi  NaN  0,00000  0,00000
3                                              flood  NaN  0,00000  0,00000
4                                        westernpedi  NaN  0,00131  0,00000
5                                       Gaza regular  NaN  0,00000  0,00000
6                                        10earlypedi  NaN  0,09235  0,00000
7                                         11latepedi  NaN  0,04906  0,00000
8                                           12 flood  NaN  0,01505  0,00000
9                                         12latepedi  NaN  0,05930  0,00000

   cassava   cotton eggplant   garlic   ginger kidneypotato  ...   sesame  \
0  0,00000  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
1  0,02600  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
2  0,00000  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
3  0,00000  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
4  0,00171  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
5  0,00000  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
6  0,07696  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
7  0,04390  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
8  0,01977  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000
9  0,05412  0,00000  0,00000  0,00000  0,00000      0,00000  ...  0,00000

  smallpeanut  sorghum  soybean   squash sugarcane sunflower   tomato  \
0     0,00000  0,00295  0,00000  0,00404   0,00000   0,00000  0,00000
1     0,00101  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000
2     0,00000  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000
3     0,00000  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000
4     0,00007  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000
5     0,00000  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000
6     0,00176  0,00000  0,00000  0,00387   0,00209   0,00000  0,00000
7     0,00067  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000
8     0,00000  0,00000  0,00000  0,00035   0,00000   0,00000  0,00000
9     0,00000  0,00000  0,00000  0,00000   0,00000   0,00000  0,00000

     wheat yam/amadumbe
0  0,00000      0,00000
1  0,00000      0,00000
2  0,00000      0,00000
3  0,00000      0,00000
4  0,00000      0,00000
5  0,00000      0,00000
6  0,00000      0,00000
7  0,00000      0,00000
8  0,00000      0,00000
9  0,00000      0,00000

[10 rows x 33 columns]

In [123]:
df_RP.columns

Index(['stratum', 'crop', 'beans', 'cabbage', 'cassava', 'cotton', 'eggplant',
       'garlic', 'ginger', 'kidneypotato', 'largepeanut', 'lettuce',
       'macadamia', 'maize', 'millet', 'n-orangeswpot.', 'okra', 'onion',
       'orangeswpot.', 'othervegetable', 'pepper', 'piri-piri', 'rice',
       'sesame', 'smallpeanut', 'sorghum', 'soybean', 'squash', 'sugarcane',
       'sunflower', 'tomato', 'wheat', 'yam/amadumbe'],
      dtype='object')

In [124]:


df_BR = pd.read_excel(
    "../content/drive/MyDrive/Data_Mastery/scp_stratum_crop_table BETTER RESULTS.xlsx",
    sheet_name=0
)


df_BR.head()

,stratum,beans,cassava,corn,large peanut,lettuce,macadamia nuts,millet,non-orange-fleshed sweet potato,okra,orange-fleshed sweet potato,other vegetable,piri-piri,rice,small peanut,sorghum,squash,sugarcane,wheat
0,10 early pedi,8.761786,7.000413,4.895789,0.000000,0.0,0.0,0.0,1.626995,0.0,0.059082,0.105446,0.0,0.0,0.176077,0.0,0.336038,0.201694,0.0
1,11 late pedi,4.304974,3.859058,6.241592,0.749156,0.0,0.0,0.0,0.070688,0.0,0.132546,2.131670,0.0,0.0,0.033669,0.0,0.000000,0.000000,0.0
2,12 flood,1.409628,0.344411,9.736385,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.032223,0.000000,0.0
3,12 late pedi,3.712606,3.080345,1.636980,0.000000,0.0,0.0,0.0,0.035054,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0
4,17 flood,1.281655,0.709502,8.181719,0.420154,0.0,0.0,0.0,0.000000,0.0,0.000000,0.052983,0.0,0.0,0.823643,0.0,0.019261,0.000000,0.0

In [125]:
id_cols = ["stratum"]  # adjust if needed
num_cols = df_BR.columns.difference(id_cols)

df_BR_num = df_BR.copy()
df_BR_num[num_cols] = (
    df_BR_num[num_cols]
    .replace({r"\s+": "", ",": "."}, regex=True)
    .apply(pd.to_numeric, errors="coerce")
)

df_BR_num[num_cols] = df_BR_num[num_cols].div(10).round(5)
df_BR_num.head(10)

,stratum,beans,cassava,corn,large peanut,lettuce,macadamia nuts,millet,non-orange-fleshed sweet potato,okra,orange-fleshed sweet potato,other vegetable,piri-piri,rice,small peanut,sorghum,squash,sugarcane,wheat
0,10 early pedi,0.87618,0.70004,0.48958,0.00000,0.0,0.0,0.0,0.16270,0.00000,0.00591,0.01054,0.0,0.0,0.01761,0.0,0.03360,0.02017,0.0
1,11 late pedi,0.43050,0.38591,0.62416,0.07492,0.0,0.0,0.0,0.00707,0.00000,0.01325,0.21317,0.0,0.0,0.00337,0.0,0.00000,0.00000,0.0
2,12 flood,0.14096,0.03444,0.97364,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.0,0.00000,0.0,0.00322,0.00000,0.0
3,12 late pedi,0.37126,0.30803,0.16370,0.00000,0.0,0.0,0.0,0.00351,0.00000,0.00000,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.00000,0.0
4,17 flood,0.12817,0.07095,0.81817,0.04202,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00530,0.0,0.0,0.08236,0.0,0.00193,0.00000,0.0
5,23 flood,0.09621,0.00133,0.34516,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.0,0.00997,0.0,0.01688,0.00000,0.0
6,24-33 flood,0.03161,0.00000,0.37302,0.00000,0.0,0.0,0.0,0.00000,0.00061,0.00000,0.00000,0.0,0.0,0.00000,0.0,0.00773,0.00000,0.0
7,32 flood,0.00387,0.00000,0.43627,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.0,0.08610,0.0,0.00000,0.00000,0.0
8,4 early inland pedi,0.00074,0.00075,0.00000,0.00000,0.0,0.0,0.0,0.00123,0.00000,0.00000,0.00000,0.0,0.0,0.00000,0.0,0.00004,0.00000,0.0
9,5 early alluvial,0.00385,0.00000,0.69537,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00076,0.01095,0.0,0.0,0.00000,0.0,0.03459,0.00000,0.0

In [126]:
!pip -q install rapidfuzz

In [127]:
sorted(df_RP["stratum"].dropna().unique())

['10earlypedi',
 '11latepedi',
 '12 flood',
 '12latepedi',
 '17 flood',
 '23 flood',
 '24-33 flood',
 '32 flood',
 '4earlyinlandpedi',
 '5earlyalluvial',
 '5latepedi',
 '6earlyalluvial',
 '6earlycoastalpedi',
 '6earlyinlandpedi',
 '7earlypedi',
 '7latealluvial 8earlyalluvial',
 '8latepedi',
 '9earlyalluvial 9 flood',
 'Gaza irrigated irrigatedalluvial Gaza low-intensity',
 'Gaza regular',
 'Gond.&Moss.hills',
 'Manica low-intensity flood',
 'N&Spedi',
 'Sussundengahills',
 'Zambezia low-intensity alluvial',
 'alluvial',
 'broadvalley',
 'centralpedi',
 'coastalpedi',
 'commonpedi',
 'earlyhill-pedi',
 'earlymontane',
 'earlypedi',
 'flood',
 'hill',
 'hill-pedi',
 'inlandalluvial',
 'latealluvial',
 'latehill-pedi',
 'latemontane',
 'latepedi',
 'montane',
 'northwesternpedi',
 'pedi Manica regular',
 'pedi Zambezia regular',
 'westernalluvial',
 'westernpedi']

In [128]:
sorted(df_BR_num["stratum"].dropna().unique())

['10 early pedi',
 '11 late pedi',
 '12 flood',
 '12 late pedi',
 '17 flood',
 '23 flood',
 '24-33 flood',
 '32 flood',
 '4 early inland pedi',
 '5 early alluvial',
 '5 late pedi',
 '6 early alluvial',
 '6 early coastal pedi',
 '6 early inland pedi',
 '7 early pedi',
 '7 late alluvial',
 '8 early alluvial',
 '8 late pedi',
 '9 early alluvial',
 '9 flood',
 'irrigated alluvial',
 'scarce alluvial']

In [129]:
df_RP_80["stratum"].nunique()
df_BR_num["stratum"].nunique()

22

In [132]:
import pandas as pd
import re
from rapidfuzz import fuzz

# 1. DYNAMIC MASTER SETUP
master_list = sorted(df_BR_num["stratum"].dropna().unique())
master_df = pd.DataFrame({
    "matching_id": range(1, len(master_list) + 1),
    "master_stratum": master_list
})

def norm_strict(s):
    if pd.isna(s): return ""
    return re.sub(r"[^a-z0-9]", "", str(s).lower())

master_df["_clean"] = master_df["master_stratum"].apply(norm_strict)

# 2. SMART MATCHING ENGINE
def find_smart_matches(s):
    clean_s = norm_strict(s)
    if not clean_s: return []

    # Priority 1: Exact Match (after cleaning)
    # If '10earlypedi' matches '10earlypedi', stop there.
    for _, row in master_df.iterrows():
        if clean_s == row["_clean"]:
            return [row["matching_id"]]

    # Priority 2: Substring/Combo Match
    # Only if it's a long string like '7latealluvial 8earlyalluvial'
    found_ids = []
    for _, row in master_df.iterrows():
        # We check if the master string is a distinct part of the messy string
        if row["_clean"] in clean_s:
            found_ids.append(row["matching_id"])

    # Priority 3: Fuzzy Match (Typos) - Only if nothing found yet
    if not found_ids:
        for _, row in master_df.iterrows():
            if fuzz.ratio(clean_s, row["_clean"]) > 85:
                found_ids.append(row["matching_id"])

    return list(set(found_ids)) # Remove any duplicates

# 3. APPLY AND EXPLODE
df_RP["matching_ids"] = df_RP["stratum"].apply(find_smart_matches)
df_RP_final = df_RP.explode("matching_ids").dropna(subset=["matching_ids"])
df_RP_final = df_RP_final.rename(columns={"matching_ids": "matching_id"})

# 4. FINAL VIEW
final_view = df_RP_final.merge(master_df, on="matching_id", how="inner")
summary = final_view.drop_duplicates(subset=["master_stratum"])

print(f"Verified Unique Matches: {len(summary)} out of {len(master_list)}")
print(summary[["matching_id", "master_stratum", "stratum"]].sort_values("matching_id"))

Verified Unique Matches: 21 out of 22
   matching_id        master_stratum  \
2            1         10 early pedi
3            2          11 late pedi
4            3              12 flood
5            4          12 late pedi
6            5              17 flood
7            6              23 flood
8            7           24-33 flood
9            8              32 flood
10           9   4 early inland pedi
11          10      5 early alluvial
12          11           5 late pedi
13          12      6 early alluvial
14          13  6 early coastal pedi
15          14   6 early inland pedi
16          15          7 early pedi
17          16       7 late alluvial
18          17      8 early alluvial
19          18           8 late pedi
20          19      9 early alluvial
1           20               9 flood
0           21    irrigated alluvial

                                              stratum
2                                         10earlypedi
3                                          11latepedi
4                                            12 flood
5                                          12latepedi
6                                            17 flood
7                                            23 flood
8                                         24-33 flood
9                                            32 flood
10                                   4earlyinlandpedi
11                                     5earlyalluvial
12                                          5latepedi
13                                     6earlyalluvial
14                                  6earlycoastalpedi
15                                   6earlyinlandpedi
16                                         7earlypedi
17                       7latealluvial 8earlyalluvial
18                       7latealluvial 8earlyalluvial
19                                          8latepedi
20                             9earlyalluvial 9 flood
1                                               flood
0   Gaza irrigated irrigatedalluvial Gaza low-inte...

In [131]:
# Find IDs in master_df that are NOT in final_verified
missing_master = master_df[~master_df["matching_id"].isin(final_verified["matching_id"])]

print("--- Master Rows with NO matches in RP ---")
print(missing_master[["matching_id", "master_stratum"]])

--- Master Rows with NO matches in RP ---
    matching_id      master_stratum
16           17    8 early alluvial
18           19    9 early alluvial
20           21  irrigated alluvial
21           22     scarce alluvial

In [135]:
# 1. Install Java (required for tabula)
!apt-get install -qq code openjdk-8-jdk-headless -qq > /dev/null

# 2. Install the tabula-py library
!pip install -q tabula-py

E: Unable to locate package code
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 12.0/12.0 MB 34.3 MB/s eta 0:00:00

In [136]:
import tabula
from pathlib import Path

# Path to your file
path = Path("/content/drive/MyDrive/Data_Mastery/JSTAR_Stat_From_Space_20251217_19.pdf")

# Convert Path object to string for tabula
if path.exists():
    dfs = tabula.read_pdf(str(path), pages='all', stream=True)

    if dfs:
        df = dfs[0]
        print("Success! First 5 rows:")
        print(df.head())
    else:
        print("File found, but no tables were detected.")
else:
    print(f"Error: The file was not found at {path}")

WARNING:tabula.backend:Failed to import jpype dependencies. Fallback to subprocess.
WARNING:tabula.backend:No module named 'jpype'

Success! First 5 rows:
  11 late pedi lar12 flood 4.906 1.505  Unnamed: 0 4.390 1.977  Unnamed: 1  \
0                   12 late pedi 5.930         NaN       5.412         NaN
1                       17 flood 1.721         NaN       1.167         NaN
2                       23 flood 1.962         NaN       0.040         NaN
3                    24-33 flood 1.315         NaN         NaN         NaN
4                       32 flood 0.031         NaN         NaN         NaN

   0.749 6.810 9.987  Unnamed: 2  0.071  0.265  2.254  0.067  0.035 ge peanut
0    NaN       3.141         NaN  0.058    NaN    NaN    NaN    NaN       NaN
1  0.707      10.348         NaN    NaN    NaN  0.066  1.059  0.026        le
2    NaN       7.324         NaN    NaN    NaN    NaN  0.249  0.339     ttuce
3    NaN       6.628         NaN    NaN  0.007    NaN    NaN  0.086       NaN
4    NaN       3.993         NaN    NaN    NaN    NaN  0.851    NaN   macadam